.header-zonechat {
    background-color: #9099A2;
}

.chat-image {
    height: 1.2rem;
}

.zonechat-footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0px;
}

.zonechat-body {
    position: relative;
}

.container-fluid {
    padding: 0px !important;
}

.card-message-from {
    background-color: white;
    border-radius: 10px;
}

.card-message-to {
    background-color: #FF5D5D;
    border-radius: 10px;
}