.zonechat {
    font-family: cursive;
    height: 100%;
}

.row {
    flex-wrap: nowrap !important;
}

.chat-zone {
    height: 82%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header-zonechat {
    border-bottom: 0.2rem solid;
    height: 8%;
}

.title-chat {
    font-size: 2rem;
    font-weight: bold;
}

.img-header-zonechat {
    width: 2.5rem;
    height: 80%;
    border-radius: 2rem;
}

.footer-chatzone {
    height: 10%;
    background-color: black;
    color: white;

}

.tarjeta {
    width: auto !important;
    max-width: 50% !important;
}

.text-tarjeta-user {
    font-size: 1.1rem;
    color: white;
    background-color: dodgerblue;
    border-radius: 2rem;
}

.text-tarjeta {
    font-size: 1.1rem;
    color: white;
    background-color: lightgreen;
    border-radius: 2rem;
}

.text-user {
    font-size: 0.7rem;
    color: gray;
}

.wrapper {
    overflow-wrap: break-word !important;
}

.añadir-persona:hover {
    color: #FF5D5D;
}

.botonEncryptado {
    background-color: green;
}