.zonechat {
    font-family: cursive;
    height: 100%;
}

.chat-zone {
    height: 82%;
}

.header-zonechat {
    border-bottom: 0.2rem solid;
    height: 8%;
}

.title-chat {
    font-size: 2rem;
    font-weight: bold;
}

.img-header-zonechat {
    width: 2.5rem;
    height: 80%;
    border-radius: 2rem;
}

.tarjeta-texto-otro {
    color: white;
    background-color: #FF5D5D;
    height: 10%;
}

.tarjeta-texto-yo {
    color: white;
    background-color: #9B9B9B;
    height: 10%;
}

.footer-chatzone {
    height: 10%;
    background-color: black;
    color: white;

}