.header-sidebar {
    background-color: #4C4B4B;
}

.search-sidebar {
    background-color: #9099A2;
}

.container-fluid {
    padding: 0px !important;
}

.row {
    margin: 0px !important;
}

.height-icon {
    height: 1.2rem;
    color: white;
}

.chat-card {
    border-bottom: 1px solid black;
}

.user-image-chat {
    height: 2.5rem;
}