.login {
    height: 92%;
}

.text-login {
    font-family: cursive;
    font-weight: bold;
    font-size: 2rem;
}

.tarjeta-login {
    height: 50%;
    border: 0.2rem solid;
    box-shadow: 1rem 1rem 1rem black;
}

.btn-color {
    color: white !important;
    background-color: #FF5D5D !important;
}

.btn-color:hover {
    background-color: rgba(255, 93, 93, 0.8) !important;
}

.input-login {
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(255, 93, 93, 1);
}

.input-login:focus {
    box-shadow: 0.2rem 0.2rem 0.8rem rgba(255, 93, 93, 1);
}